@charset "ISO-8859-1";
ul.anav {
    list-style-type: none;
    margin: 0;
    padding-right:0px;
    padding-left:0px;
    padding-top:100px;
    padding-bottom: 50px;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

ul.anav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.anav li {
    text-align: center;
    border-bottom: 1px solid #555;
}

ul.anav li:last-child {
    border-bottom: none;
}

ul.anav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.anav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}