<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>p</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>servlet.userLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userRegister</display-name>
    <servlet-name>userRegister</servlet-name>
    <servlet-class>servlet.userRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegister</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>servlet.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminReg</display-name>
    <servlet-name>adminReg</servlet-name>
    <servlet-class>servlet.adminReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminReg</servlet-name>
    <url-pattern>/adminReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteVoter</display-name>
    <servlet-name>deleteVoter</servlet-name>
    <servlet-class>servlet.deleteVoter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteVoter</servlet-name>
    <url-pattern>/deleteVoter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AaddVoter</display-name>
    <servlet-name>AaddVoter</servlet-name>
    <servlet-class>servlet.AaddVoter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AaddVoter</servlet-name>
    <url-pattern>/AaddVoter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Asearchvoter</display-name>
    <servlet-name>Asearchvoter</servlet-name>
    <servlet-class>servlet.Asearchvoter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asearchvoter</servlet-name>
    <url-pattern>/Asearchvoter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AaddParties</display-name>
    <servlet-name>AaddParties</servlet-name>
    <servlet-class>servlet.AaddParties</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AaddParties</servlet-name>
    <url-pattern>/AaddParties</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Aseleteparty</display-name>
    <servlet-name>Aseleteparty</servlet-name>
    <servlet-class>servlet.Aseleteparty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aseleteparty</servlet-name>
    <url-pattern>/Aseleteparty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdeleteParty</display-name>
    <servlet-name>AdeleteParty</servlet-name>
    <servlet-class>servlet.AdeleteParty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdeleteParty</servlet-name>
    <url-pattern>/AdeleteParty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsearchParty</display-name>
    <servlet-name>AsearchParty</servlet-name>
    <servlet-class>servlet.AsearchParty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsearchParty</servlet-name>
    <url-pattern>/AsearchParty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adeleteadmin</display-name>
    <servlet-name>Adeleteadmin</servlet-name>
    <servlet-class>servlet.Adeleteadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adeleteadmin</servlet-name>
    <url-pattern>/Adeleteadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Asearchadmin</display-name>
    <servlet-name>Asearchadmin</servlet-name>
    <servlet-class>servlet.Asearchadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asearchadmin</servlet-name>
    <url-pattern>/Asearchadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AupdateAdmin</display-name>
    <servlet-name>AupdateAdmin</servlet-name>
    <servlet-class>servlet.AupdateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AupdateAdmin</servlet-name>
    <url-pattern>/AupdateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AupdateParty</display-name>
    <servlet-name>AupdateParty</servlet-name>
    <servlet-class>servlet.AupdateParty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AupdateParty</servlet-name>
    <url-pattern>/AupdateParty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AupdateVoter</display-name>
    <servlet-name>AupdateVoter</servlet-name>
    <servlet-class>servlet.AupdateVoter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AupdateVoter</servlet-name>
    <url-pattern>/AupdateVoter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feedBack</display-name>
    <servlet-name>feedBack</servlet-name>
    <servlet-class>servlet.feedBack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedBack</servlet-name>
    <url-pattern>/feedBack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adeletefeedback</display-name>
    <servlet-name>Adeletefeedback</servlet-name>
    <servlet-class>servlet.Adeletefeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adeletefeedback</servlet-name>
    <url-pattern>/Adeletefeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewresult</display-name>
    <servlet-name>viewresult</servlet-name>
    <servlet-class>servlet.viewresult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewresult</servlet-name>
    <url-pattern>/viewresult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Arelease</display-name>
    <servlet-name>Arelease</servlet-name>
    <servlet-class>servlet.Arelease</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Arelease</servlet-name>
    <url-pattern>/Arelease</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Aelection</display-name>
    <servlet-name>Aelection</servlet-name>
    <servlet-class>servlet.Aelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aelection</servlet-name>
    <url-pattern>/Aelection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewVote</display-name>
    <servlet-name>viewVote</servlet-name>
    <servlet-class>servlet.viewVote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewVote</servlet-name>
    <url-pattern>/viewVote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>voting</display-name>
    <servlet-name>voting</servlet-name>
    <servlet-class>servlet.voting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>voting</servlet-name>
    <url-pattern>/voting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vlogout</display-name>
    <servlet-name>vlogout</servlet-name>
    <servlet-class>servlet.vlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vlogout</servlet-name>
    <url-pattern>/vlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Alogout</display-name>
    <servlet-name>Alogout</servlet-name>
    <servlet-class>servlet.Alogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alogout</servlet-name>
    <url-pattern>/Alogout</url-pattern>
  </servlet-mapping>
</web-app>